{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^next(/.*|$)",
    "^react$",
    "^@radix-ui(/.*|$)",
    "^@/lib(/.*|$)",
    "^@/config(/.*|$)",
    "^@/utils(/.*|$)",
    "^@/hooks(/.*|$)",
    "^@/components(/.*|$)",
    "^@/assets(/.*|$)",
    "@(/.*|$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
